<%= s3_uploader_form callback_url: s3_direct_upload_url, class: 's3-direct-upload-form', id: "s3-uploader", callback_param: "attachment[direct_upload_url]", max_file_size: 1.megabytes do %>

  <%= file_field_tag :file, id: "s3_direct_upload_input" %>  

<% end %>

<%= form_for @post do |f| %>
  
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>    
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", placeholder: "Content" %>    
  </div>

  <hr>
  <h4>Picture</h4>
  <%= f.fields_for :pictures do |f2| %>  
    <label>
      <% if f2.object.image.present? %>
        <%= image_tag f2.object.image, id: "upload-image-preview" %>
      <% else %>
        <%= image_tag "", id: "upload-image-preview" %>
      <% end %>
      <%= f2.hidden_field :id %>  
      <br/>
      <div class="btn btn-success">Upload an image</div>
      <%= f2.file_field :image, id: "upload-image", style: "display: none;", accept: "image/*" %>  
    </label>
  <% end %> 

  <hr>
  <h4>Attachment <sup>(* max upload is 1mb)</sup></h4>
  <%= f.fields_for :attachments do |f2| %>  
    <%= f2.hidden_field :id %>  
    <%= f2.hidden_field :direct_upload_url, id: "attachment_direct_upload_url" %> 

    <a href="<%= f2.object.direct_upload_url %>" target="_blank" 
    style="<%= f2.object.direct_upload_url.present? ? "" : "display:none;" %>" id="attachment_direct_upload_link">
      <i class="fa fa-file file-icon"></i>
      <br/>
      download file
      <br/>
    </a>
    <br/>

    <label for="s3_direct_upload_input">
      <div class="btn btn-success">Upload a file</div>
    </label>
    <div class="upload js-progress-bars" style="display:none;">
      <div class="progress">
        <div class="bar" style="width: 0%"></div>
      </div>
    </div>


  <% end %>

  <br/>
  <br/>
  <div class="form-action">
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= link_to "Cancel", posts_path %>    
  </div>
  
<% end %>
