<div class="row">
  <div class="col-sm-12">
    <div class="pull-left">
      <h3>All posts</h3>
    </div>
    <div class="pull-right">
      <%= link_to "New post", new_post_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
<hr>
<table class="table">
  <thead>
    <th class="col-sm-1">#</th>
    <th class="col-sm-8">Title</th>
    <th class="col-sm-3">Action</th>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td>
          <%= link_to "Show", post_path(post), class: "btn btn-info" %> | 
          <%= link_to "Edit", edit_post_path(post), class: "btn btn-primary" %> | 
          <%= link_to "Delete", post_path(post), class: "btn btn-danger", data: {confirm: "Are you sure to delete this post?"}, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>