<div class="row">
  <div class="col-sm-12">
    <div class="pull-left">
      <h3><%= @post.title %></h3>
    </div>
  </div>
</div>
<hr>

<strong>Content:</strong>
<br/>
<%= @post.content %>
<br/>
<br/>

<strong>Picture:</strong><br/>
<% if @post.pictures.present? %>
  <%= image_tag @post.pictures.first.image(:small) %>
<% else %>
  <label class="label label-danger">There is no picture</label>
<% end %>
<br/>
<br/>


<strong>Attachment:</strong><br/>
<% if @post.attachments.present? %>
  <a href="<%= @post.attachments.first.direct_upload_url %>" target="_blank">
    <i class="fa fa-file file-icon"></i>
    <br/>
    download file
    <br/>
  </a>
<% else %>
  <label class="label label-danger">There is no image</label>
<% end %>

<br/>
<br/>