// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#upload-image-preview{
  padding-bottom: 15px;
  max-width: 200px;
  max-height: 200px;
}

.s3-direct-upload-form {
  display: none;
}

.progress {
  .bar {
    height: 100% !important;
  }
}

.file-icon {
  font-size: 80px;
  color: #C9141B;
}