<br/>
<% flash && flash.each do |name, msg| %>
  <div class="alert alert-dismissible <%= flash_class(name)%>" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= msg.html_safe %>
  </div>
<% end %>