<!DOCTYPE html>
<html>
<head>
  <title>VincentTest</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "layouts/header" %>
  <div class="container" style="padding-top: 40px;">
    <%= render "layouts/flash_messages" %>
    <%= yield %>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</body>
</html>
